body
{
    margin: 0;
    padding: 0;
	 background-color: rgb(80,80,80)
}
.all
{
    background-color: rgb(80,80,80)
    height: 100%;
    width: 1480px;
}
.top
{
    background-color: rgb(144,144,144);
    margin-top: 50px;
    height: 145px;
    width: 1480px;
    border-radius: 15px;
	 box-shadow : 10px 10px 15px black;
}
.mid
{
    background-color: rgb(144,144,144);
    height: 610px;
    width: 1070px;
    border-radius: 15px;
	 margin-top: 20px;
	 box-shadow : 10px 10px 15px black;
}
.left
{
    border-radius: 15px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(144,144,144);
    height: 460px;
    width: 150px;
	 box-shadow : 10px 10px 15px black;
}
.right
{
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    background-color: rgb(144,144,144);
    height: 460px;
    width: 150px;
	 box-shadow : 10px 10px 15px black;
}
.green
{
    background-color: rgb(140,253,142);
    height: 185px;
    width: 540px;
    position: relative;
    bottom: +80px;
    right: +500px;
    border-radius: 15px;
	 box-shadow : 10px 10px 15px black;
}
.imgleft
{
    height: 75px;
    width: 77px;
    position: relative;
    top: 25px;
}
.imgright
{
    height: 75px;
    width: 75px;
    position: relative;
    top: 25px;
}
#day
{
    float: left;
    width: 440px;
    height: 130px;
    position: relative;
    left: +20px;
    top: +5px;
}
#oeil
{
    border: 4px solid;
    border-color: red;
}
#book
{
    height: 100px;
}
#brick
{
    width: 110px;
}
#cluster
{
    height: 97%;
    width: 97%;
    top: 9px;
    position: relative;
}
#reload
{
	position: relative;
	height: 20px;
	width: 20px;
	float: right;
	top: 10px;
	right: 10px;
}
#close
{
	position: relative;
	height: 20px;
	width: 20px;
	float: right;
	top: 120px;
	left: 10px;
}
#loupe
{
	position: relative;
	height: 140px;
	width: 240px;
	left: 10px;
	top: 25px;
	float: right;
}
#text
{
	font-size: 20px;
}
#ordi
{
	font-size: 20px;
}
#entrez
{
	font-size : 38px;
	font-family : 'palatino linotype', 'book antiqua', Palatino, serif;
}
